"AppBuild"
{
    "AppID" "<DEMO_APP_ID>"
    "Desc" "Shanhe Wendao Demo Windows build <VERSION>"
    "ContentRoot" "..\\content"
    "BuildOutput" "..\\output"
    "SetLive" "<PRIVATE_DEMO_BETA_BRANCH>"
    "Preview" "0"

    "Depots"
    {
        "<DEMO_WINDOWS_DEPOT_ID>" "depot_build_windows_demo.vdf"
    }
}
