"DepotBuildConfig"
{
    "DepotID" "<DEMO_WINDOWS_DEPOT_ID>"
    "ContentRoot" "..\\content\\windows-demo"

    "FileMapping"
    {
        "LocalPath" "*"
        "DepotPath" "."
        "recursive" "1"
    }

    "FileExclusion" "*.pdb"
    "FileExclusion" "*.log"
}
